#navbar {
    background-color: #000000;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

nav a {
    font-size: 30px;
}

#logo {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-block: 0.5%;
}

#logo-image {
    max-height: 10vh;
}

/*#right-hamburger {*/
/*    margin-right: 50px;*/
/*    margin-left: 100px;*/
/*}*/

#toggler-hamburger {
    max-height: 10vh;
    min-height: 30px;
}

#main {
    height: 100%;
    margin-top: 10vh;
    margin-inline: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
}

#main div {
    width: 50%;
    margin-inline: 2%;
    margin-top: 2%;
    padding: 2%;
}


@media only screen and (max-aspect-ratio: 8/5) {
    #main {
        flex-direction: column;
    }

    #main .main-left, .main-right {
        width: 80% !important;
    }

    #Реклама p {
        padding-inline: 0% !important;
    }
}


#Открывай {
    /*font-size: 70px;*/
    font-size: 8vh;
    font-family: 'Playfair Display';
    margin-bottom: 5%;
}

#Еженедельный {
    font-size: 4vh;
    /*font-size: 45px;*/
    width: 80%;
    /*line-height: 50px;*/
    line-height: 5vh;
}

#Реклама {
    background-color: black;
    margin-block: 30px;
    margin-inline: 30px;
    padding-block: 20px;
    padding-inline: 20px;
    border-radius: 25px !important;
}

#Реклама p {
    font-size: 5vh;
}

#Заявка {
    /*font-size: 25px;*/
    font-size: 3vh;
    color: black;
    padding-block: 2%;
    padding-inline: 3%;
    margin-top: 5%;
    margin-left: 5%;
}

.btn-primary {
    background-color: #FFDD58;
}

body p, a, h1 {
    font-family: 'Montserrat';
    color: white;
}

#right-hamburger {
    margin-top: 3%
}

body {
    background-image: url("../static/background-home.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /*overflow: hidden;*/
}
